body {
    font-family: 'Poppins', sans-serif;
}

#main-row {
    margin-left: 2px;
    margin-right: 2px;
    background-color: cadetblue;
}

aside {
    background-color: gray;
    color: white;
}

#current-results .card-body {
    font-size: calc(12px + .7vw);
}

#current-results .card-title {
    font-size: calc(14px + .7vw);
    font-weight: bold;

}

#forecast-results {
    display: flex;
    justify-content: space-between;
}

#forecast-results .card-body {
    font-size: calc(8px + .7vw); 
    background-color: lightgray;
}

#forecast-results .card-title {
    font-size: calc(10px + .7vw);
    font-weight: bold;
}